 /** { outline: 1px solid red !important } */
.spacer-5px { padding-top: 5px !important; }
.spacer-10px { padding-top: 10px !important; }
.spacer-20px { padding-top: 20px !important; }
.spacer-50px { padding-top: 50px !important; }
.no-padding { padding: 0px !important:; }
.no-padding-right { padding-right: 0px !important; }
.no-padding-left { padding-left: 0px !important; }
.no-padding-top { padding-top: 0px !important; }
.no-padding-bottom { padding-bottom: 0px !important; }
.no-margin { margin: 0px !important; }
.no-margin-right { margin-right: 0px !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }
.justify-content-center { display: flex; justify-content: center !important; }
.justify-content-left { display: flex; justify-content: flex-start !important; }
.justify-content-right { display: flex; justify-content: flex-end !important; }
.align-item-center { display: flex; align-items: center !important; }
.align-item-top { display: flex; align-items: flex-start !important; }
.align-item-bottom { display: flex; align-items: flex-end !important; }
.space-between-content { display: flex; justify-content: space-between !important; }
.white-text { color: #ffffff !important; }
.black-text { color: #000000 !important }
.blue-text { color: #0097F4 !important }
.very-huge-heading { font-family: 'PT Sans', sans-serif !important; font-weight: 600 !important; color: #4d4d4d !important; font-size:32px !important; }
.huge-heading { font-family: 'PT Sans', sans-serif !important; font-weight: 400 !important; color: #4d4d4d !important; font-size: 28px !important; }
.medium-heading { font-family: 'PT Sans', sans-serif !important; font-weight: 400 !important; font-size: 24px !important; }
.small-heading { font-family: 'PT Sans', sans-serif !important; font-weight: 600 !important; font-size: 20px !important; }
.small-text { font-family: 'PT Sans', sans-serif !important; font-size: 16px !important; }
.very-small-text { font-family: 'PT Sans', sans-serif !important; color: #cccccc !important; font-size: 14px !important; }
